<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <bomb-button></bomb-button><bomb-button></bomb-button><bomb-button></bomb-button><br>
        <bomb-button></bomb-button><bomb-button></bomb-button><bomb-button></bomb-button><br>
        <bomb-button></bomb-button><bomb-button></bomb-button><bomb-button></bomb-button>
    </div>
    <script>
        Vue.component('bomb-button', {
            data: function(){
                return{
                    isBomb:true,
                    value: '-'
                };
            },
            methods: {
                open: function(){
                    if(!this.isBomb) return;
                    this.value='*';
                
                }
            },
            template: '<button @click="open" style="width: 25px; height: 25px;">{{value}}</button>',
        });
        var app = new Vue({
            el:'#app',
            data:{

            },
            methods:{

            }
        });
    </script>
    
</body>
</html>