<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app" class="container">
        <br>
        <form>
            <div class="form-group">
                <input v-if="todo==null" type="email" class="form-control" id="textTodo"
                    placeholder="Add something you want to do" @keydown.enter.prevent="addTodo">
                <input v-else type="email" class="form-control" id="textTodo" :value="todo.text"
                    placeholder="Edit your event" @keydown.enter.prevent="editTodo">
            </div>
        </form>
        <nav aria-label="Page navigation example">
            <ul class="pagination" style="float:left">
                <li class="page-item" v-if="pagenumber>0"><a class="page-link" href="#" @click="pagenumber--">Previous</a></li>
                <li class="page-item" v-for="page in getNumberOfPage" @click='pagenumber=page-1'><a class="page-link" href="#">{{page}}</a></li>
                <li class="page-item" v-if="getNumberOfPage-1>pagenumber"><a class="page-link" href="#"  @click="pagenumber++">Next</a></li>
            </ul>
            <button type="button" class="btn btn-success" @click="addNew" style="float:right" v-if="todo!=null">Add
                todo</button>
        </nav>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Todo</th>
                    <th scope="col">Oparation</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="todo in getTodoByPaging">
                    <th scope="row">{{todo.id}}</th>
                    <td>{{todo.text}}</td>
                    <td>
                        <button type="button" class="btn btn-warning" @click="editOperation(todo)">edit</button>
                        <button type="button" class="btn btn-danger" @click="delTodo(index)">delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                pagenumber: 0,
                pageSize: 4,
                lastId: 1,
                todo: null,
                todos: [

                ],
            },
            methods: {
                addTodo: function (event) {
                    var newTodo = {
                        id: this.lastId++,
                        text: event.target.value
                    }
                    this.todos.push(newTodo);
                    event.target.value = "";
                },
                editTodo: function (event) {
                    this.todo.text = event.target.value;
                    this.todo = null;
                },
                editOperation: function (todo) {
                    this.todo = todo;
                },
                delTodo: function (index) {
                    this.todos.splice(index, 1);
                },
                addNew: function () {
                    this.todo = null;
                }
            },
            computed: {
                getTodoByPaging: function () {
                    return this.todos.slice(this.pageSize * this.pagenumber, this.pageSize * (this.pagenumber + 1));
                },
                getNumberOfPage: function () {
                    return Math.ceil(this.todos.length / this.pageSize);
                }
            }
        });
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>
